<div class="login">
  <!-- First Container -->
  <div class="container">
    <h5 class="center-align">Sign In</h5>
    <p class="center-align">Log in to view your account & make reservations!</p>
    <!-- Login Form -->
    <div class="row valign-wrapper">
      <form class="col s12">
        <div class="row valign-wrapper">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" />
            <label for="email" class="text-color">Email</label>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" />
            <label for="password" class="text-color">Password</label>
          </div>
        </div>
        <div class="row valign-wrapper">
          <button class="btn waves-effect waves-light" type="submit">Login
            <i class="material-icons right">loupe</i>
          </button>
        </div>
         <div>
      <a href="/signup">Create a account</a>
    </div>
  </div>

  <!-- Second Container -->
  <div class="container">
    <h5 class="center-align">Sign Up</h5>
    <p class="center-align">Don't already have an account? Sign up below!</p>
    <!-- Sign Up Form -->
    <div class="row valign-wrapper">
      <form class="col s12">
        <div class="row valign-wrapper">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" />
            <label for="first_name" class="text-color">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" />
            <label for="last_name" class="text-color">Last Name</label>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" />
            <label for="email" class="text-color">Email</label>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" />
            <label for="password" class="text-color">Password</label>
          </div>
        </div>
        <div class="row valign-wrapper">
          <button class="btn waves-effect waves-light" type="submit">Sign Up
            <i class="material-icons right">loupe</i>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
<script src="./js/login.js"></script>