<div class="search-section">
   <div class="container container-search">
    <div class="row valign-wrapper col s12">
      <form class="form search-form col s12">
        <div class="row">
          <div class="input-field">
            <input id="search" type="text" class="validate" />
            <label for="search" class="text-color">Search by city</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Search<i class="material-icons right">search</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>
<script src="js/search.js"></script>