<h1>Search Page</h1>
<div class="container-search">
  <div class="row valign-wrapper col s12">
    <form class="form search-form col 16">
      <div class="row">
        <div class="input-field col s20">
          <input id="search" type="text" class="validate" />
          <label for="search" class="text-color">Search by city</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
      <div>
      </div>
    </form>
  </div>
</div>

<script src="js/search.js"></script>