<h1>Search Page</h1>

  <div class="row">
      <form class="col s6 form login-form">
        <div class="row">
          <div class="input-field col s12">
            <input id="search" type="text" class="validate">
            <label for="search">Search by city</label>
          </div>
        </div>
        
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit">Search
            <i class="material-icons right">send</i>
          </button>
        </div>
         <div>
    </div>
      </form>
    </div>


<script src="./js/search.js"></script>