@import url(fonts.css);

* {
  box-sizing: border-box;
}
@font-face {
  font-family: GothamBook;
  src: url(GothamBook.ttf);
}

@font-face {
  font-family: GothamMedium;
  src: url(GothamMedium.ttf);
}

body {
  background-color: #373d20;
}

header {
  padding: 33px;
  text-align: center;
  background: #f4e3b2;
  font-family: GothamMedium;
}

header h1 {
  color: #f46036;
}

header h5 {
  color: #603140;
}
nav {
  background-color: #766153;
  box-shadow: 0 0px 25px 0 rgb(68, 68, 68);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  letter-spacing: 0.618px;
  background-color: #00a67f;
  font-family: GothamBook;
  line-height: 1.6em;
  size: 100px;
}

.login .container p {
  font-size: 1.1618em;
  text-align: center;
}

.container {
  background-color: #3a3b6d;
  height: 550px;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 61.8px;
  border-radius: 6.18px;
  border: 4px solid white;
  margin: 61.8px;
  box-shadow: 0px 0px 10px rgb(69, 69, 69);
  display: inline-block;
}

.container-sign-up {
  padding-top: 30px;
}
.center-align {
  font-family: GothamMedium;
  color: white;
  font-size: 2em;
}

.input-field {
  margin-bottom: 0px;
  margin-top: 10px;
  line-height: 0em;
  margin-bottom: -16px;
}

.text-color {
  color: white !important;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #ffffff !important;
}

/* label underline focus color */
.input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}

input {
  color: white;
}

input:focus {
  color: white;
}

.row {
  justify-content: center;
  margin-top: 16px;
  /* margin-bottom: 5px;   */
}

.btn {
  margin-top: 20px;
}

.container-search {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.search-form {
  background-color: #307e34;
  border-radius: 50px / 50%;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form .input-field {
  width: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  font-size: 16px;
  height: 44px;
  padding-left: 16px;
  border-radius: 8px 0 0 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  outline: none;
  width: 100%;
}

.search-form label {
  font-size: 16px;
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0%;
}

.search-form .btn {
  height: 30px;
  padding: 0 16px;
  border-radius: 0 8px 8px 0;
  background-color: #7a7a7a;
  color: white;
  box-shadow: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 500px;
}
