@import url(fonts.css);

* {
  box-sizing: border-box;
}
@font-face {
  font-family: GothamBook;
  src: url(GothamBook.ttf);
}

@font-face {
  font-family: GothamMedium;
  src: url(GothamMedium.ttf);
}

body {
  background-color: #373d20;
}

header {
  padding: 33px;
  text-align: center;
  background: #f4e3b2;
  font-family: GothamMedium;
  text-shadow: 4px 4px 16px #86806d;
}

header h1 {
  color: #f46036;
}

header h5 {
  color: #603140;
}
nav {
  background-color: #766153;
  box-shadow: 0 0px 16px 0 rgb(68, 68, 68);
  font-family: GothamMedium;
  letter-spacing: 0.618px;
  text-shadow: 1px 1px 2px black;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  letter-spacing: 0.618px;
  background-color: #00a67f;
  font-family: GothamBook;
  line-height: 1.6em;
  size: 100px;
  padding-bottom: 100px;
}

.login .container p {
  font-size: 1.1618em;
  text-align: center;
}

.container {
  background-color: #3a3b6d;
  height: 550px;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 61.8px;
  border-radius: 6.18px;
  border: 4px solid white;
  margin: 61.8px;
  box-shadow: 0px 0px 10px rgb(69, 69, 69);
  display: inline-block;
}

.container-homepage {
  align-items: center;
  vertical-align: center;
  letter-spacing: 0.618px;
  background-color: #00a67f;

}

.card-content{
  background-color: #3a3b6d;
  justify-content: center;
  align-items: center;
  border: 1px dashed white;

}

.card-title {
  color: white;
  font-family: GothamBook;
  text-shadow: 1px 1px 2px black;
}

.card-title-p {
  color: white;
  font-family: GothamBook;
  text-shadow: 1px 1px 2px black;
}

.home-text {
  font-family: GothamMedium;
  color: white;
  font-size: 3em;
  text-shadow: 1px 1px 2px black;
  font-style: italic;
}

.home-text-title {
  font-family: GothamMedium;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-shadow: 1px 1px 2px black;
}

.card-image{
  width: 100%;
  position: absolute;
}

.container-sign-up {
  padding-top: 20px;
  text-shadow: 6px 6px 10px black;
}

.container-log-in {
  text-shadow: 6px 6px 10px black;
}
.center-align {
  font-family: GothamMedium;
  color: white;
  font-size: 2em;
}

.results-container {
  margin: 0 auto;
  max-width: 1280px;
  height: 90%;
  width: 70%;
  margin-left: 15%;
  font-weight: bold;
}

.input-field {
  margin-bottom: 0px;
  margin-top: 10px;
  line-height: 0em;
  margin-bottom: -16px;
}

.text-color {
  color: white !important;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #ffffff !important;
}

/* label underline focus color */
.input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}

input {
  color: white;
}

input:focus {
  color: white;
}

.row {
  justify-content: center;
  margin-top: 16px;
  /* margin-bottom: 5px;   */
}

.btn {
  margin-top: 20px;
  background-color: #ff7a99;
}
.login-icon {
  color: #eeffa8;
}

.search-section {
  background-color: #00a67f;
  display: flex;
  padding: 100px 1em;
  letter-spacing: 0.618px;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 100px / 62%;
  height: 0px;
  width: 100%;
}

.search-form .input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-grow: 1;
}

.search-form input[type="text"] {
  font-size: 16px;
  height: 44px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  outline: none;
  width: 100%;
}

.search-form label {
  font-size: 16px;
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0%;
}

.search-form .btn {
  border-radius: 25px 25px 25px 25px;
  background-color: #7a7a7a;
  color: white;
  box-shadow: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 800px;
  margin-top: -50px;
  background-color: #ff7a99;
}

.results-font {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
}

.favorites-section {
  background-color: #00a67f;
  margin: 0;
}

.favorites-section ul {
  background-color: #4446728f;
}
